
.font_default {
    font-size: 24px;
    font-weight: bold;
}



.header_position{
  position: relative;
  margin-left: 100px;
}

.add_usrbutton{
  margin-left: 100px;
}


.delete_usrbutton{
  margin-left: 20px;
  padding: 6px

}

.img_position{
  margin-left: 100px;
  margin-top: 10px

}

#image1{
  width: 1500px;
  height: 1500px;
}

#image2{
  width: 1500px;
  height: 1500px;
}

#image3{
  width: 1500px;
  height: 1500px;
}




.btn_new{
  position: absolute;
  margin-left: 600px;
  margin-top: -150px;
  
}

.btn_delete1{
 position: absolute;
  margin-left: 800px;
  margin-top: -150px;
 
}


/* 
.btn_new{
  
  margin-left: 400px;
  margin-bottom: 500px;
}

.btn_delete{
  position: absolute;
  margin-left: 550px;
} */

.btn_size{
  text-decoration: none;
  background: #ff8181;
  color: #FFF;
  width: 150px;
  height: 150px;
  line-height: 150px;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  overflow: hidden;
  box-shadow: 0px 2px 2px rgba(197, 184, 184, 0.29);
  font-size: 30px;
  border-bottom: solid 3px #bd6565;
  transition: .4s;

}

.btn_position:active {
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  border-bottom: none;
}


.img_color{
  background-size: cover;
  width: 500px;
  min-width: 500px;
  min-height: 500px;
  max-width: 1150px;
  max-height: 1150px;
}



label, input { display:block; }
input.text { margin-bottom:12px; width:95%; padding: .4em; }
fieldset { padding:0; border:0; margin-top:25px; }
h1 { font-size: 1.2em; margin: .6em 0; }
div#users-contain { width: 350px; margin: 20px 0; }
div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
.ui-dialog .ui-state-error { 
  padding: .3em; }
.validateTips { border: 1px solid transparent; padding: 0.3em; }

/* 

.ui-menu { 
  width: 300px;
  min-width: 60%;
} */



.ui-widget-header { 
  padding: 0.2em; 
  
}

.menu-position{
  position: absolute;
  margin-left: 600px;
  min-width: 250px;
  width: 400px;
  bottom: 720px;
  
}

#parent {
  position: relative;
}
#parent img {
  transition: all 500ms 0s ease;
  position: absolute; 
  left: 0;
  top: 63px;

}
.on {
  opacity: 1;
}
.off {
  opacity: 0;
}



.sticky {
  width: 250px;
  height: 50px;
  position: absolute;
  cursor: grab;
  border: 1px solid #aaa;
}
textarea {
  width: 100%;
  height: 100%;
}
.selected {border-color: #f44;}


/* 付箋の色選択ボックス */
.box {
  position: absolute;
  margin-left: 1150px;
  
}

.box select {
  background-color: #0563af;
  color: white;
  padding: 12px;
  width: 250px;
  border: none;
  font-size: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
}

.box::before {
  content: "\f13a";
  font-family: FontAwesome;
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 28px;
  line-height: 45px;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

.box:hover::before {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.2);
}

.box select option {
  padding: 30px;
}